{% extends 'base.html' %}
{% block title %} Shoping {% endblock title %}
{% block content %}
      <div class="container-fluid">
         <div class="row content">
            <div class="col-sm-3 sidenav">
               <h4> Shoping Center </h4>
               <ul class="nav nav-pills nav-stacked">
                  <li class="active"><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'shoes_list' %}">Shoes</a></li>
                  <li><a href="">About Us</a></li>
               </ul>
               <br>
            </div>
            <div class="col-sm-9">
               <h2>{{ object.name }}</h2>
               <hr>
               <br>
               <img src="{{ object.image.url }}" width="300px" height="300px" style="float: left; border-radius: 10px; margin-right: 20px;">
               
               <p style="float: left;"><br/>Food is my passion. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               <br><br>
               <div style="float:left;">
                  
                  <p><b>Price:</b> {{ object.price }}</p>
                  <p>Only <b>{{ object.in_stock }}</b> left in stock</p>
               </div>
               <!-- <h4>Leave a Comment:</h4>
               <form role="form">
                  <div class="form-group">
                     <textarea class="form-control" rows="3" required></textarea>
                  </div>
                  <button type="submit" class="btn btn-success">Submit</button>
               </form>
               <br><br>
               <p><span class="badge">2</span> Comments:</p>
               <br>
               <div class="row">
                  <div class="col-sm-2 text-center">
                     <img src="bandmember.jpg" class="img-circle" height="65" width="65" alt="Avatar">
                  </div>
                  <div class="col-sm-10">
                     <h4>Anja <small>Sep 29, 2015, 9:12 PM</small></h4>
                     <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                     <br>
                  </div>
                  <div class="col-sm-2 text-center">
                     <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
                  </div>
                  <div class="col-sm-10">
                     <h4>John Row <small>Sep 25, 2015, 8:25 PM</small></h4>
                     <p>I am so happy for you man! Finally. I am looking forward to read about your trendy life. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                     <br>
                     <p><span class="badge">1</span> Comment:</p>
                     <br>
                     <div class="row">
                        <div class="col-sm-2 text-center">
                           <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
                        </div>
                        <div class="col-xs-10">
                           <h4>Nested Bro <small>Sep 25, 2015, 8:28 PM</small></h4>
                           <p>Me too! WOW!</p>
                           <br>
                        </div>
                     </div>
                  </div>
               </div> -->
            </div>
         </div>
      </div>
   </body>
</html>
{% endblock content %}
